@{
    ViewData["Title"] = "Index";
}

@* <h3>@ViewData["Title"]</h3> *@

<div class="containre">
    <div class="row pt-4">
        <div class="col-md-6">
            <h3>List of Teachers</h3>
        </div>
        <div class="col-md-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Teacher">
                <i class="fa-sharp fa-solid fa-car"></i> Add Teacher
            </a>
        </div>
    </div>
    <table class="table table-hover table-responsive caption-top text-center">
        <thead>
            <tr class="table-dark">
                <th>Teacher Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
            <tr>
                <td>Mohammed Almostafa</td>
                <td>Wad Madnie</td>
                <td>cs.mohammedalmostafa@gmail.com</td>
                <td>+24911-716-0479</td>
                <td>Meal</td>
                <td>$50000</td>
            </tr>
        </tbody>
    </table>
</div>